@font-face {
    font-family: hind;
    src: url("fonts/hind-regular.ttf");
}
@font-face {
    font-family: titillium;
    src: url("fonts/titillium-web-light.ttf");
}
* {
    margin: 0px;
    padding: 0px;
     background-color: white;/* ta linijka nie ma za bardzo sensu bo ona ma wpływ na każdy element, jeśli chciałeś żeby tło bylo białe to lepiej dać to do body */
    font-family: titillium;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth ;
}
a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: hind;
}
section{
    padding-top: 4vw;
    margin-top: 1vw;
}
.container-100{
    width: 100%;
    height: auto;
}
.container-80{
    width: 80%;
    height: auto;
    margin:auto; /*  wyjebałbym tą linijke i dał display flex na parencie  */
    padding-top: 1vw;
    padding-bottom: 0.5vw;
}
.container-80 strong{
    color:#010C80;
}
.container-50{
    width: 50%;
}
.container-33{
    width: 33.3%;
}
.flex{
    display: flex;    
}
.wrap{
    flex-wrap: wrap;
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    overflow: auto;
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.274);
    padding-bottom: 0;
}
.logo{
    width: 35%;
    z-index: 1;
}
.navbar-links{
    width: 85%;
    z-index: 0;
}
.navbar ul {
    align-content: center;
    float: right;       
}
.navbar ul li{
    float: left;
    padding-left: 30px;
    list-style: none;
    text-transform: uppercase;
}
.navbar ul li a{
    font-family:hind;
    font-size: max(1.6vw, 18px);
    color: #010C80;
    opacity: 0.85;
}
.navbar img{
    height: 60%;
    width: 100%;
    max-height: 104.16px;
    min-height: 34.72px;
    min-width: 320px;   
}
.navbar ul li a:hover{
    color: #77D4FC;
    font-weight: bold;
    transition: all 0.13s;
    opacity: 1;
}
.navbar ul > :first-child{
    padding-left: 0px;
}
.home{
    background-image:url("images/city.jpg");
    height: 15vw;
    background-position: 0px -10px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
}
.slogan_container{
    box-shadow: 0vw 0.5vw 0.5vw #77D4FC;
    padding-bottom: 40px;
    margin-top: 0px;
    z-index: -1;       
}
.slogan_txt{
    text-align: center;
    color:#77D4FC;
    font-family: hind;
    font-size: max(2.85vw, 22px);
    padding-top: 0;
}
.slogan_img img{
    width: 100%;
    height: 95%;
    float:right;
    margin-right: -14vw;   
}
.section_heading {
    font-size: 3.6vw;
    display: block;
    text-align: center;
    color:#010C80;
    padding: 2vw 0vw;
    width: 80%;
    margin: auto;
}
.about_img{
    background-image: url(/images/planing2.jpg);
    background-size: cover;    
}
.about_txt{
    font-size: 2.6vw;
    padding-left: 0.6vw;
}
.about_txt li{
    color:black;
    list-style-type: none;  
    text-align: center;  
    margin-bottom: 1.5vw;
}
.about_txt ul :last-child{
    margin-bottom: 0;
}
.about_txt li i{
    color: #77D4FC;   
}
.about_recap p{
    font-size: 2.4vw;
    text-align: left;
    padding-top: 1.5vw;
}
.cta p{
    color: #77D4FC;
    font-weight: bold;
    font-size: 3.2vw;
    text-align: center;
    padding-top: 4vw;
}
.service.container-100{
    box-shadow: 0vw 0.5vw 0.5vw #77D4FC;
    padding-bottom: 4vw;
    margin-bottom: 1vw;    
}
.service_txt h2{    
    text-align: center;
    font-size: 2.6vw;
    color:black;
    width: 80%;
    /* ja bym wyjebał te 3 linie poniżej */
    /* i dałbym po prostu display: flex; na divie który jest parentem */
    margin:auto;    
    min-height: 25vw;
    padding: 5vw;
}
.service_img_project{
    background-image: url(/images/projekty.jpg);
    background-size: cover;
    min-height: 25vw;
}
.service_img_plumbing{
    background-image: url(/images/instalacje_hydrauliczne.jpg);
    background-size: cover;
    min-height: 25vw;
}
.service_img_electric{
    background-image: url(/images/instalacej_elektryczne.jpg);
    background-size: cover;
    min-height: 25vw;
}
.service_img_construction{
    background-image: url(/images/wykonczenie.jpg);
    background-size: cover;
    min-height: 25vw;
}
.gallery_slide{
    max-height: 50vw;
    display: flex;    
    margin: auto;
    padding-bottom: 6vw;
 }
.contact{
    background-color: black;
}
 .contact h1{
    background-color: inherit;
    color: #77D4FC;
    text-align: center;
    font-size: 3vw;
 }
 .contact p{
    background-color: inherit;
    color:white;
    text-align: center;
    font-size: 2.4vw;
 }
 .contact a {
    text-decoration: none;
    background-color: inherit;
    color:white;
 }
 .contact i {
    scale:90%;
    background-color: inherit;
    color:white;
 }
 footer{
    background-color: black;
    color: #77D4FC;
    font-size: 1.5vw;
    margin:auto;
    text-align: center;
    padding: 3vw 0;
 }
 footer a{
    text-decoration: none;
    background-color: inherit;
    letter-spacing: 0.25vw;
 }
 .clearfix::after{
    content:" ";
    display: block;
    clear: both;
}

 @media only screen and (max-width: 840px) {
    .navbar li{
        display: none;
    }    
    .slogan_img {
        display:none;
    }
    .slogan_txt,container-50{
        width: 100%;        
    }   
  }

 